body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EFF8F1;
}
td {
	font-size: 9pt;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	line-height: 18px;
}
.style4 {color: #ffffff;
font-size: 9pt;
font-family:"宋体";
}
.style6 {color: #666666;
font-size: 9pt;
font-family:"宋体";
}
.style7 {color: #FF6600}
.style8 {color: #333333;
font-size: 9pt;
font-family:"宋体";

}
.style10 {
	color: #FF0000;
	font-weight: bold;
}
.style11 {
	color: #666666;
	font-size: 7pt;
	font-weight: bold;
	font-family:宋体;
}
.style18 {color: #874401;
font-size: 9pt;
font-family:"宋体";
}
.style21 {color: #FFCE86;
font-family:"宋体";}
.style22 {
	font-size: 7pt;
	font-weight: bold;
	font-family:宋体
}
.style27 {
	color: #333333;
	font-weight: bold;
	font-size: 9pt;
    font-family:"宋体";
}
.style28 {color: #F79400}
.style29 {color: #C47500; font-weight: bold; }
.style31 {color: #FF3300; font-weight: bold; }
.style36 {color: #339900}
.style39 {color: #FFffff;
    font-size: 9pt;
    font-family:"宋体";
}
.style40 {	font-size: 7pt;
	font-weight: bold;
}
.style42 {
	color: #FFCE86;
}
.style43 {color: #ffffff}
.style44 {color: #666666}
.style45 {
	color: #6E9B04;
	font-weight: bold;
}
.style47 {color: #003300}
.style49 {color: #EAF4EE}

.a1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	text-decoration: none;
	color: #4F7D66;
}
a.a1:link {
	color: #4F7D66;
	text-decoration: none;
	font-size: 7pt;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
a.a1:visited {
	color: #4F7D66;
	text-decoration: none;
	font-size: 7pt;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
a.a1:hover {
	color: #F77316;
	text-decoration: none;
	font-size: 7pt;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
a.a1:active {
	color: #FF6600;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
}
a.a2:link {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a.a2:visited {
    font-family: "Geneva, Arial, Helvetica, sans-serif";
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a.a2:hover {
 font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF3300;
	text-decoration: none;
}
a.a2:active {
font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF3300;
	text-decoration: none;
}
a.a3:visited {
	color: #003300;
	text-decoration: none;
}
a.a3:link {
	color: #003300;
	text-decoration: none;
}

a.a3:hover {
	color: #FF3300;
	text-decoration: none;
}
a.a4:visited {
	color: #6B3601;
	text-decoration: none;
}
a.a4:link {
	color: #874401;
	text-decoration: none;
}
.font3{
	FILTER: dropshadow(color=#000000, offx=1, offy=1, positive=1);
	FONT-FAMILY: "??¨??";
	FONT-SIZE: 9pt;
	width:100%;
		font-weight: bold;
}.f9 {
	font-size: 9pt;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FF3300;
	text-decoration: none;
}
.f10 {
	font-size: 10.5pt;
}
.f5 {
	font-size: 5pt;
}
.bg_top {
	background-image: url(/images/tt2.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.bg_bottom {
	background-image: url(/images/tt5.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.bg_topright {
	background-image: url(/images/top1.gif);
	background-repeat: no-repeat;
	background-position: right;
	background-color: #FFFFFF;
}
.table_title_top {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #006600;
	border-bottom-color: #629A58;
	background-color: #A5C15D;
}
.table_title_bottom {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #BFE1C9;
	background-color: #A5C15D;
}

.td1 {
	background-color: #E3F2E7;
}
.table_td1 {
	background-color: #ABD9B6;
}
.table_td2 {
	background-color: #BFE1C9;
}
.table_td3 {
	background-color: #DDF0E2;
}

.table_page1 {
	background-color: #ffffff;
	
}
.title_td {
		background-color: #A5C15D;
}
.title_tab {
	background-color: #006600;
}
.title_over_td {
	color: #000000;
	background-color: #A5C15D;
	cursor: hand;
}
.title_out_td {
	color: #000000;
	background-color: #E3F2E7;
}
.mycursor{
        cursor:hand;
}