<!--=============== design by lynn 11-30 =========================-->

<!--==============================================================--> 
<!--=============== Begin footer =================================-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="1" class="toprim"></td>
  </tr>
  <tr>
    <td height="8" bgcolor="#CCCF00"><img src="/images/pixel.gif" width="1" height="8" border="0"></td>
  </tr>
  <tr>
    <td height="1" class="toprim"></td>
  </tr>
  <tr>
    <td height="20" class="footer">版权所有(C)  长天集团电子政务与电子服务系统研发中心  All Copyright Reserved By eBIS.com.cn</td>
  </tr>
  <tr>
    <td height="1" bgcolor="#CCCCCC"></td>
  </tr>
  <tr>
    <td height="1" class="toprim"></td>
  </tr>
</table>
<!--=============== End footer ===================================--> 
<!--==============================================================--> 