<html>
<head>
<title>首页模版</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
</head>

<body>
<!--=============== design by lynn 11-30 =========================-->
<!--=============== Begin center  ================================-->

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"><img src="/images/index/i_main_01.gif"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="/images/index/i_main_02.gif"></td>
  </tr>
  <tr>
    <td bgcolor="#C0C7A6"><img src="/images/index/i_main_03.gif"></td>
    <td><img src="/images/index/i_main_04.gif"></td>
    <td bgcolor="#C0C7A6"><img src="/images/index/i_main_05.gif"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="/images/index/i_main_06.gif"></td>
  </tr>
  <tr> 
    <td bgcolor="#EDEAE5"><img src="/images/index/i_main_07.gif"></td>
    <td><img src="/images/index/i_main_08.gif"></td>
    <td bgcolor="#EDEAE5"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="290" height="28">
        <param name=movie value="/images/flash/i_big.swf">
        <param name=quality value=high>
        <embed src="/images/flash/i_big.swf" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="290" height="28">
        </embed> 
      </object></td>
  </tr>
  <tr>
    <td colspan="3"><img src="/images/index/i_main_09.gif"></td>
  </tr>
  <tr>
    <td colspan="3"><img src="/images/index/i_main_10.gif"></td>
  </tr>
</table>
<!--=============== End center ===================================-->
</body>
</html>