<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr height="108" valign="top">
		<td><img src="../../images/zp_footer_bck.jpg"></td>
	</tr>
	<tr height="30">
		<td align="right" style="background-color: #00406a"><font color='#F8F8FF'>( 世纪制作 )</font></td>
	</tr>
</table>
</body>
</html>