@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, tr,
	td, img, div, dl, dt, dd, span {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	color: #4C4C4C;
	font-size: 12px;
	font-family: "微软雅黑";
	widtd: 100%;
	background: #fff;
}

input::-ms-clear{
      display: none;
}

input::-ms-reveal{
      display: none;
}

ul, ol {
	list-style-type: none;
}

select, input, img {
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.clearit {
	clear: both;
	font-size: 0;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.bh-clear {
	clear: both;
}

.bh-space {
	height: 10px;
	clear: both;
}

/*====================================content======================================*/
.hj-hy-all {
	width: 100%;
}

.hj-hy-all-one {
	margin: 0px auto;
	background: url(/images/hcm/themes/default/login/bg1.jpg) no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	z-index: -10;
	zoom: 1;
	background-color: #fff;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
}
/*
.hj-hy-all-one-logo img {
	height: 30px;
	margin: 30px 0 0 25px;
}
*/
.hj-hy-form {
	width: 290px;
	background: white;
	margin: 9% 0 0 36%;
}

.hj-hy-form table {
	margin: 4% 0 0 14%;
	padding-left: 5px;
}

.hj-hy-form table h2 {
	display: inline-block;
	color: #c61408;
	font-size: 20px;
}

.hj-wzm-jiantou {
	width: 32px;
	height: 32px;
	margin: 10px 0 0 10px;
}

.hj-hy-form table td {
	height: 45px;
}

.hj-hy-yonhum {
	width: 155px;
	height: 28px;
	line-height: 25px;
	border-radius: 6px;
	border: 1px #eeeeee solid;
	font-size: 14px;
	color: #999;
	padding-left: 40px;
	margin-top: 5px;
	background: url(/images/hcm/themes/default/login/pic1.png) no-repeat 2.5% #FFF;
}

.hj-hy-mima {
	width: 155px;
	height: 28px;
	line-height: 25px;
	border-radius: 6px;
	border: 1px #eeeeee solid;
	font-size: 14px;
	color: #999;
	padding-left: 40px;
	margin-top: 5px;
	background: url(/images/hcm/themes/default/login/pic2.png) no-repeat 2.5% #FFF;
}

.hj-hy-yzm {
	width: 70px;
	height: 28px;
	line-height: 25px;
	border-radius: 6px;
	border: 1px #eeeeee solid;
	font-size: 14px;
	color: #999;
	padding-left: 40px;
	vertical-align:middle;
	margin-top: 5px;
	background: url(/images/hcm/themes/default/login/pic3.png) no-repeat 4.2% #FFF;
}

.hj-hy-riqi {
	width: 155px;
	height: 28px;
	line-height: 25px;
	border-radius: 6px;
	border: 1px #eeeeee solid;
	font-size: 14px;
	color: #999;
	padding-left: 40px;
	margin-top: 5px;
	background: url(/images/hcm/themes/default/login/pic4.png) no-repeat 2.5% #FFF;
}

.hj-hy-login {
	background: #0096ff;
	color: #FFF;
	width: 200px;
	height: 28px;
	border: none;
	line-height: 25px;
	font-size: 14px;
	border-radius: 6px;
	font-weight: bolder;
	margin-top: 5px;
	cursor:pointer;
}

.hj-hy-jzzh {
	margin: -3px -4px 0 10px;
}

.hj-hy-wjmm {
	height: 25px;
	color: #fff;
}

.hj-form1 {
	border-radius: 2px;
	border: none;
}

.hj-wzm-copyright {
	color: #FFFFFF;
	margin-top: 30px;
	margin-left: 42%;
	width:245px;
	font-size: 12px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	height: 20px;
}

.hj-hy-title {
	width:180px;
	margin:5px 0 0 10px;
}

.hj-hy-yzm-img {
	width: 73px;
	margin:5px 0 0 3px;
	cursor:pointer;
}

.hj-wzm-li {
	color: #FFFFFF;
	font-size: 14px;
	bottom: 25px;
	width: 150px;
	text-align: center;
	height: 5px;
	margin-left: 42%;
}

.hj-wzm-li li {
	float: left;
	margin: auto 3px;
}

.wjmm {
	padding-right: 40px;
}

#name_hint, #pwd_hint {
	font-size: 14px
}